.noteWrapper{
    width: 100%;
    cursor: pointer;
    box-shadow: 0 0 2px white;
}

.noteWrapper:hover{
    transition: background-color 1s;
    background-color: #ecebd885;
}

.hashtags{
    display: flex;
}

.hashtags div{
    margin: 5px;
}