.noteEditor{
    grid-area: editor;
    background: rgba(168, 159, 159, 0.671);
}

.noteWrapper{
    width: 500px;
    height: 500px;
    margin: 5px auto;
}

.noteTitle{
  height: 40px;
  background-color: gold;
}

.noteTitle textarea{
  width: 70%;
  background-color: transparent;
  outline: none;
  padding: auto 0;
  margin: auto 0;
  border: 0;
}

.noteTitle button{
  width: 10%;
}

.noteText{
  height: 420px;
}

.noteText textarea{
  width: 470px;
  height: 390px;
  outline: none;
  padding: 15px;
  border: 0;
  background-color:  rgba(228, 228, 24, 0.384);
  margin: 0 auto;
}

.hashtags{
  height: 40px;
  width: 100%;
  background-color: gold;
  display: flex;
}

.hashtags div{
  margin: 5px;
}

.newNoteButton{
  display: inline-block;
  border-radius: 4px;
  background-color: #f1410bc9;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 15px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.newNoteButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.newNoteButton span:after {
  content: '\FF0B';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.newNoteButton:hover span {
  padding-right: 25px;
}

.newNoteButton:hover span:after {
  opacity: 1;
  right: 0;
}